<script>
  export default {
    name: "MainComponent",
    data() {
      return {
        texts: {
          title: `Бесплатный  распил<br/>
            при покупке ЛДСП`,
          name: 'SPK',
          description: `- новая производственная компания на мебельном рынке<br/>
            Республики Беларусь, удачно объединившая в одном месте услуги по стеклообработке и изготовлению деталей из  плитных материалов, а также сборке дверей для шкафов-купе и Z-фасадов. Высокотехнологичное европейское оборудование и опытный штат профессионалов обеспечивают своевременность и неизменно высокое качество выполняемых работ.`
        },
        partners: ['homag', 'brandt', 'holzma'],
        partners2: ['altendorf', 'bavelloni', 'ima', 'biesse', 'intermac'],
      }
    },
    render(h) {
      const styles = this.$style;
      return (
        <table>
          <tbody>
          <tr>
            <td
              class={styles.title}
              domPropsInnerHTML={this.texts.title}
            />
          </tr>
          <tr>
            <td
              class={styles.description}
            >
              <span class={styles.name}>{this.texts.name}</span>
              <span domPropsInnerHTML={this.texts.description}/>
            </td>
          </tr>
          <tr>
            <td
            >
              <table
                class={styles.partners}
              >
                <tbody>
                <tr>
                  {this.partners.map(partner => (
                    <td key={partner}>
                      <div class={{
                        [styles.partner]: true,
                        [styles[`${partner}Partner`]]: true,
                      }}/>
                    </td>
                  ))}
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td
            >
              <table
                class={styles.partners}
              >
                <tbody>
                <tr>
                  {this.partners2.map(partner => (
                    <td key={partner}>
                      <div class={{
                        [styles.partner]: true,
                        [styles[`${partner}Partner`]]: true,
                      }}/>
                    </td>
                  ))}
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      )
    }
  }
</script>

<style module lang="scss">
  .title {
    padding: 50px 28px 53px 28px;
    text-align: right;
    font-size: 29px;
    font-weight: bold;
    line-height: 34px;
    letter-spacing: -1.2px;
    color: #ffffff;
    text-shadow: 2.7px 2.9px 8px #00000045;
    background: no-repeat right center url(./background.jpg);
    background-size: cover;
    border-radius: 6px;
  }

  .description {
    font-size: 14.5px;
    font-weight: 600;
    line-height: 25px;
    text-align: justify;
    color: #000000;
    padding-top: 37.5px;
  }

  .name {
    font-size: 31px;
    font-weight: 600;
    text-align: left;
    color: #000000;
    vertical-align: bottom;
  }

  .partners {
    padding-top: 12px;
    td {
      padding: 0 4px;
    }
  }

  .partner {
    background: no-repeat center;
    background-size: contain;
    margin-top: 16px;
  }

  .homagPartner {
    background-image: url(./homag.png);
    height: 68px;
    max-width: 174px;
  }

  .brandtPartner {
    background-image: url(./brandt.png);
    height: 68px;
    max-width: 185px;
  }

  .holzmaPartner {
    background-image: url(./holzma.png);
    height: 68px;
    max-width: 196px;
  }

  .altendorfPartner {
    background-image: url(./altendorf.png);
    height: 32px;
    max-width: 138px;
  }

  .bavelloniPartner {
    background-image: url(./bavelloni.png);
    height: 74px;
    max-width: 132px;
  }

  .imaPartner {
    background-image: url(./ima.png);
    height: 22.5px;
    max-width: 83.5px;
  }

  .biessePartner {
    background-image: url(./biesse.png);
    height: 22px;
    max-width: 86px;
  }

  .intermacPartner {
    background-image: url(./intermac.png);
    height: 27.5px;
    max-width: 130.5px;
  }
</style>
