<script>
  export default {
    name: "TopComponent",
    data() {
      return {
        texts: {
          title: 'Здравствуйте, {name}',
          description: `В продолжение нашего разговора<br/>
            отправляю Вам прайс-предложение<br/>
            по дальнейшему сотрудничеству`,
          author: `С уважением<br/>
            {author}`,
          actions1: {
            'Дсп': '#dsp',
            'Двери-купе': '#doors',
          },
          actions2: {
            'Услуги': '#services',
            'Стеклообработка': '#glass',
          }
        }
      }
    },
    render(h) {
      const styles = this.$style;

      return (
        <table class={styles.wrapper}>
          <tbody>
          <tr>
            <td class={styles.welcome}>
              <table>
                <tbody>
                <tr>
                  <td class={styles.title}>
                    {this.texts.title}
                  </td>
                </tr>
                <tr>
                  <td
                    class={styles.description}
                    domPropsInnerHTML={this.texts.description}
                  />
                </tr>
                <tr>
                  <td
                    class={styles.author}
                    domPropsInnerHTML={this.texts.author}
                  />
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr >
            <td>
              <table class={styles.navigation}>
                <tbody>
                <tr class={styles.navigationLine1}>
                  {Object.entries(this.texts.actions1).map(([title, link]) => (
                    <td
                      key={link}
                      class={styles.item}
                    >
                      <a
                        href={link}
                      >
                        {title}
                      </a>
                    </td>
                  ))}
                </tr>
                <tr class={styles.navigationLine2}>
                  {Object.entries(this.texts.actions2).map(([title, link]) => (
                    <td
                      key={link}
                      class={styles.item}
                    >
                      <a
                        href={link}
                      >
                        {title}
                      </a>
                    </td>
                  ))}
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      )
    }
  }
</script>

<style module lang="scss">
  .wrapper {
    table-layout: fixed;
    background: no-repeat top -60px center url(./background.png);
    background-position-x:  calc(50% - 30px);
  }

  .welcome {
    max-width: 300px;
    padding-top: 62px;
    padding-left: 4%;
  }

  .title {
    font-size: 18px;
    font-weight: 800;
    text-align: left;
    color: #000000;
    white-space: nowrap;
  }

  .description {
    padding-top: 12px;
    font-size: 10px;
    font-weight: bold;
    line-height: 21px;
    text-align: left;
    color: #000000;
    white-space: nowrap;
  }

  .author {
    padding-top: 26px;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    color: #0046c1;
    white-space: nowrap;
  }

  .navigation {
    table-layout: fixed;
  }

  .navigationLine1 {
    .item {
      padding: 40px 2px 10px;
    }
  }

  .navigationLine2 {
    .item {
      padding: 0 2px 10px;
    }
  }

  .item {
    margin-top: 10px;

    a {
      padding: 11.5px 10px 9px;
      border-radius: 15.8px;
      background-image: linear-gradient(
          to bottom,
          #fceb7c,
          #c2a314
      );
      color: #000;
      font-size: 11.5px;
      font-weight: 600;
      text-transform: uppercase;
      display: block;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
</style>
