<script>
    export default {
      name: "header-component",
      data() {
        return {
          texts: {
            menu: [
              'Офис',
              'Производство',
              'Склад готовой<br/>продукции'
            ],
            city: 'г. Минск',
            address: 'ул.Карвата 97',
            time: 'с 9<sup>00</sup> - 17<sup>00</sup>',
            days: ['пн', 'вт', 'ср', 'чт', 'пт'],
            weekend: ['сб', 'вс'],
            phone: '8029 115-91-58',
            email: 'info@spk.by'
          }
        }
      },
      render(h) {
        const styles = this.$style;
        return (
          <table>
            <tbody>
            <tr class={styles.header}>
              <td>
                <style domPropsInnerHTML={`
                    @media(max-width: 768px1) {
                      .${styles.menuWrapper} {
                        display: none;
                      }
                    }

                    @media(max-width: 768px1) {
                      .${styles.locationWrapper} {
                        background: none;
                      }
                    }

                    @media(max-width: 475px1) {
                      .${styles.locationWrapper} {
                        display: none;
                      }
                    }

                `}/>
              </td>
              <td class={styles.logoWrapper}>
                <div class={styles.logo}/>
              </td>
              <td class={styles.menuWrapper}>
                <table>
                  <tbody>
                  {this.texts.menu.map(item => (
                    <tr key={item}>
                      <td>
                        <span domPropsInnerHTML={item}/>
                      </td>
                    </tr>
                  ))}
                  </tbody>
                </table>
              </td>
              <td class={styles.locationWrapper}>
                <table>
                  <tbody>
                  <tr class={styles.city}>
                    <td>{this.texts.city}</td>
                  </tr>
                  <tr class={styles.address}>
                    <td>{this.texts.address}</td>
                  </tr>
                  <tr class={styles.time}>
                    <td domPropsInnerHTML={this.texts.time}/>
                  </tr>
                  <tr class={styles.days}>
                    <td>
                      <table class={styles.daysWrapper}>
                        <tbody>
                        <tr>
                          {this.texts.days.map((day) => (
                            <td key={day} class={{
                              [styles.day]: true,
                              [styles.weekendDay]: this.texts.weekend.indexOf(day) > -1
                            }}>
                              <span>
                                {day}
                              </span>
                            </td>
                          ))}
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
              <td class={styles.contactsWrapper}>
                <table>
                  <tbody>
                  <tr>
                    <td>
                      <table>
                        <tbody>
                        {['phone', 'email'].map(item => (
                          <tr key={item} class={styles.contact}>
                            <td class={styles.contactIcon}>
                              <div class={styles[`${item}Icon`]}/>
                            </td>
                            <td>
                              <a
                                href={
                                  item === 'phone'
                                    ? `tel:${this.texts[item]}`
                                    : `mailto:${this.texts[item]}`
                                }
                              >
                                {this.texts[item]}
                              </a>
                            </td>
                          </tr>
                        ))}
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        )
      }
    }
</script>

<style module lang="scss">
  @mixin text {
    font-size: 12.5px;
    font-weight: 500;
    line-height: 11.5px;
    color: #000;
  }

  .logo {
    height: 66px;
    width: 66px;
    background: no-repeat center url(./logo.jpg);
    background-size: contain;
  }

  .menuWrapper {
    display: none;
    text-align: right;
    padding-left: 10px;

    td {
      @include text;

      span {
        text-align: left;
        display: inline-block;
        max-width: 94px;
        width: 100%;
        white-space: nowrap;
      }
    }

    tr {
      &:not(:first-child) {
        td {
          padding-top: 15.5px;
        }
      }
    }
  }

  .locationWrapper {
    padding-left: 10px;
    /*padding-left: 10%;*/
    /*background: no-repeat 10% center url(./curle.png);*/
    /*background-size: contain;*/
  }

  .city {
    td {
      @include text;
    }
  }

  .address {
    td {
      padding-top: 12px;
      @include text;
    }
  }

  .time {
    td {
      padding-top: 3.5px;
      @include text;
    }
  }

  .days {
    > td {
      padding-top: 12px;
    }
  }

  .daysWrapper {
    width: auto;
  }

  .day {
    padding-right: 2px;
    span {
      line-height: 100%;
      display: block;
      padding: 2px 1px;
      font-weight: 500;
      font-size: 8.5px;
      text-transform: uppercase;
    }
  }

  .weekendDay {
    span {
      border: 1px solid #000;
    }
  }

  .contactsWrapper {
    padding-left: 10.5px;
    border-left: 1px solid transparentize(#929292, 0.36);
  }

  .contact {
    @include text;
    &:not(:first-child) {
      td {
        padding-top: 12px;
      }
    }
  }

  .contactIcon {
    padding-right: 7.5px;
    width: 15px;

    > div {
      height: 15px;
      width: 15px;
      background: no-repeat center;
      background-size: contain;
    }
  }

  .phoneIcon {
    background-image: url(./phone.png) !important;
  }

  .emailIcon {
    background-image: url(./email.png) !important;
  }
</style>
