<script>
  export default {
    name: "AdvantagesComponent",
    data() {
      return {
        title: 'Наши преимущества',
        advantages: {
          gear: `Срок изготовления заказа<br/>3 дня`,
          clock: `Время допилок<br/>до 1-го часа`,
          delivery: `Доставка по Минску<br/>0 р.`,
        },
        advantages2: {
          map: `От МКАД<br/>100 м`,
          stock: `Производственные<br/>площади 2000 м<sup>2</sup>`,
          materials: `Выбор материалов<br/>100500`,
        }
      }
    },
    render(h) {
      const styles = this.$style;
      return (
        <table class={styles.wrapper}>
          <tbody>
          <tr>
            <td class={styles.title}>
              {this.title}
            </td>
          </tr>
          <tr>
            <td>
              <table class={styles.advantages}>
                <tbody>
                <tr>
                  {Object.entries(this.advantages).map(([key, label]) => (
                    <td
                      class={styles.advantage}
                    >
                      <table
                        key={key}
                      >
                        <tbody>
                        <tr>
                          <td class={styles.advantageIconWrapper}>
                          <span
                            class={{
                              [styles.advantageIcon]: true,
                              [styles[`${key}AdvantageIcon`]]: true,
                            }}
                          />
                          </td>
                          <td
                            class={styles.advantageLabel}
                            domPropsInnerHTML={label}
                          />
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  ))}
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table class={styles.advantages}>
                <tbody>
                <tr>
                  {Object.entries(this.advantages2).map(([key, label]) => (
                    <td
                      class={styles.advantage}
                    >
                      <table
                        key={key}
                      >
                        <tbody>
                        <tr>
                          <td class={styles.advantageIconWrapper}>
                          <span
                            class={{
                              [styles.advantageIcon]: true,
                              [styles[`${key}AdvantageIcon`]]: true,
                            }}
                          />
                          </td>
                          <td
                            class={styles.advantageLabel}
                            domPropsInnerHTML={label}
                          />
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  ))}
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      )
    }
  }
</script>

<style module lang="scss">
  .wrapper {
    margin-top: 42px;
  }

  .title {
    text-align: center;
    font-size: 16.8px;
    font-weight: bold;
    color: #000000;
  }

  .advantages {
    max-width: 700px;
    margin: 30px auto 0;
    table-layout: fixed;
  }

  .advantage {
    max-width: 182px;
    margin-top: 27px;
  }

  .advantageIconWrapper {
    width: 34px;
  }

  .advantageIcon {
    height: 34px;
    width: 34px;
    background: no-repeat center;
    display: block;
  }

  @each $icon in (
      clock, delivery, gear, map, materials, stock
  ) {
    .#{$icon}AdvantageIcon {
      background-image: url("./#{$icon}.png")
    }
  }

  .advantageLabel {
    font-size: 14.3px;
    font-weight: 600;
    letter-spacing: -0.6px;
    text-align: left;
    color: #000000;
    padding-left: 6px;
    word-break: break-all;
  }
</style>
