<script>
  import HeaderComponent from "../../../components/spk/header/HeaderComponent";
  import TopComponent from "../../../components/spk/top/TopComponent";
  import MainComponent from "../../../components/spk/main/MainComponent";
  import AdvantagesComponent from "../../../components/spk/advantages/AdvantagesComponent";
  import ServicesComponent from "../../../components/spk/services/ServicesComponent";
  import FooterComponent from "../../../components/spk/footer/FooterComponent";

  export default {
    components: {FooterComponent, ServicesComponent, AdvantagesComponent, MainComponent, TopComponent, HeaderComponent},
    layout: 'spk',
    data() {
      return {
        texts: {
        }
      }
    },
    render(h) {
      const styles = this.$style;
      return (
        <div class={styles.page}>
          <table class={styles.content}>
            <tbody>
            <tr>
              <td>
                <HeaderComponent/>
              </td>
            </tr>
            <tr>
              <td>
                <TopComponent/>
              </td>
            </tr>
            <tr>
              <td>
                <MainComponent/>
              </td>
            </tr>
            <tr>
              <td>
                <AdvantagesComponent/>
              </td>
            </tr>
            <tr>
              <td>
                <ServicesComponent/>
              </td>
            </tr>
            <tr>
              <td>
                <FooterComponent/>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../../../assets/utils";

  .page {
    @include page;
    padding-bottom: 0;
    padding-left: 4px;
    padding-right: 4px;

    background: no-repeat top center url(./landing.png);

    position: relative;
    overflow: hidden;
  }

  .background {
    position: absolute;
    height: 700px;
    top: 75px;
    left: 0;
    right: -20px;
    opacity: .5;
    background-image: linear-gradient(
        to bottom,
        #ababab,
        #ffffff
    );
    transform: rotate(80deg);
    transform-origin: top right;
  }

  .content {
    position: relative;
    z-index: 1;
  }
</style>
