<script>
  export default {
    layout: 'blank',
    
    computed: {
      routes() {
        return this.$router.options.routes.filter(item => item.path !== '/')
      }
    },
    
    render(h) {
      const styles = this.$style
      return (
        <ul class={styles.list}>
          {this.routes.map(route => (
            <li class={styles.item}>
              <router-link class={styles.link} to={route} domPropsInnerHTML={route.name}/>
            </li>
          ))}
        </ul>
      )
    }
  }
</script>

<style module lang="scss">
  .list {
    padding: 10px 0 0 30px;
  }
  
  .item {
    margin-top: 20px;
  }
  
  .link {
    color: blue;
    text-decoration: underline;
  }
</style>
