<script>
  export default {
    name: "ServicesComponent",
    data() {
      return {
        title: 'Выполняем широкий спектр услуг',
        services1: {
          cut: `распил плитных<br/>материалов`,
          edge: `кромкооблицовка<br/>деталей`,
        },
        services2: {
          hole: `сверление отверстий<br/>в деталях`,
          coupe: `изготовление дверей<br/>для шкафов купе`,
        },
        services3: {
          milling: `фрезерование<br/>деталей`,
          z: `изготовление<br/>z-фасадов`,
        },
        services4: {
          glass: 'стеклообработка'
        },
        actions1: {
          'Дсп': '#dsp',
          'Двери-купе': '#doors',
        },
        actions2: {
          'Услуги': '#services',
          'Стеклообработка': '#glass',
        }
      }
    },
    render(h) {
      const styles = this.$style

      return (
        <table class={styles.wrapper}>
          <tbody>
          <tr>
            <td class={styles.title}>
              {this.title}
            </td>
          </tr>
          {[1,2,3,4].map((i, index) => (
            <tr key={index}>
              <td class={styles.servicesWrapper}>
                <table class={styles.services}>
                  <tbody>
                  <tr>
                    {Object.entries(this[`services${i}`]).map(([key, label]) => (
                      <td
                        key={key}
                      >
                        <div
                          class={{
                            [styles.serviceWrapper]: true,
                            [styles[`serviceWrapper${i}`]]: true,
                          }}
                        >
                          <div
                            class={{
                              [styles.service]: true,
                              [styles[`${key}Service`]]: true,
                            }}
                            domPropsInnerHTML={label}
                          />
                        </div>
                      </td>
                    ))}
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          ))}
          <tr>
            <td>
              <table class={styles.navigation}>
                <tbody>
                <tr class={styles.navigationLine1}>
                  {Object.entries(this.actions1).map(([title, link]) => (
                    <td
                      key={link}
                      class={styles.item}
                    >
                      <a
                        href={link}
                      >
                        {title}
                      </a>
                    </td>
                  ))}
                </tr>
                <tr class={styles.navigationLine2}>
                  {Object.entries(this.actions2).map(([title, link]) => (
                    <td
                      key={link}
                      class={styles.item}
                    >
                      <a
                        href={link}
                      >
                        {title}
                      </a>
                    </td>
                  ))}
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      )
    }
  }
</script>

<style module lang="scss">
  .wrapper {
    margin-top: 71px;
  }

  .title {
    text-align: center;
    font-size: 16.8px;
    font-weight: bold;
    color: #000000;
  }

  .servicesWrapper {
    padding: 7px 7px;
  }

  .services {
    > tbody {
      > tr {
        > td {
          padding: 0 7px;
        }
      }
    }
  }

  .serviceWrapper {
    width: 100%;
    display: table;
    table-layout: fixed;
  }

  .serviceWrapper1 {
    margin-top: 20px;
  }

  .serviceWrapper4 {
    width: 50%;
    margin: 0 auto;
  }

  .service {
    background: #fff no-repeat right center;
    border-radius: 5px;
    box-shadow: 5.1px 5.5px 125px 0 rgba(0, 0, 0, 0.32);
    height: 105px;
    align-items: center;
    padding-left: 24px;
    font-size: 11.8px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
  }

  @each $image in (
    cut, edge, hole, coupe, milling, z, glass
  ) {
    .#{$image}Service {
      background-image: url('./#{$image}.png')
    }
  }

  .navigation {
    table-layout: fixed;
  }

  .navigationLine1 {
    .item {
      padding: 40px 2px 10px;
    }
  }

  .navigationLine2 {
    .item {
      padding: 0 2px 10px;
    }
  }

  .item {
    a {
      padding: 11.5px 10px 9px;
      border-radius: 15.8px;
      background-image: linear-gradient(
          to bottom,
          #fceb7c,
          #c2a314
      );
      color: #000;
      font-size: 11.5px;
      font-weight: 600;
      text-transform: uppercase;
      display: block;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
</style>
