<script>
  export default {
    name: "FooterComponent",
    data() {
      return {
        socials: {
          instagram: '#instagram',
          vk: '#vk',
        },
        description: `
          Общество с ограниченной ответственностью<br/>
          «Стеклоплит Комплект»<br/>
          223021 Республика Беларусь, Минская область, Минский район, Щомыслицкий с/с, район агрогородка Озерцо, дом 24, корпус 1, кабинет 24.<br/>
          ОАО « Технобанк» г. Минск, ул. Кропоткина,44 код 182,<br/>
          УНП 692104998<br/>
          БИК-TECNBY22<br/>
          Р/сч белорусский рубль: BY14TECN 3012 1710 1000 0000 0010<br/>
          Директор на основании устава Коваленко Владислав Васильевич.<br/>
          Тел. +375 29 1040216<br/>
        `
      }
    },
    render(h) {
      const styles = this.$style

      return (
        <div class={styles.footer}>
          <table>
            <tbody>
            <tr>
              <td class={styles.logoWrapper}>
                <span class={styles.logo}/>
              </td>
              <td>
                <table class={styles.content}>
                  <tbody>
                  <tr>
                    <td>
                      <table class={styles.socials}>
                        <tbody>
                        <tr>
                          {Object.entries(this.socials).map(([key, link]) => (
                            <td
                              key={key}
                            >
                              <a
                                class={{
                                  [styles.social]: true,
                                  [styles[`${key}Social`]]: true,
                                }}
                                href={link}
                              />
                            </td>
                          ))}
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div
                  class={styles.description}
                  domPropsInnerHTML={this.description}
                />
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      )
    }
  }
</script>

<style module lang="scss">
  .footer {
    background: black;
    padding: 26px 30px;
  }

  .logoWrapper {
    width: 84px;
    vertical-align: top;
  }

  .logo {
    width: 84px;
    height: 84px;
    background: no-repeat center url(./logo.png);
    display: block;
  }

  .content {
    td {
      vertical-align: top;
      padding-left: 5%;
    }
  }

  .socials {
    width: auto;
  }

  .social {
    height: 33px;
    width: 33px;
    background: no-repeat center;
    display: block;
  }

  .instagramSocial {
    background-image: url(./instagram.png);
  }

  .vkSocial {
    background-image: url(./vk.png);
  }

  .description {
    padding-top: 30px;
    font-size: 8.5px;
    font-weight: bold;
    line-height: 12.5px;
    text-align: left;
    color: #ffffff;
  }
</style>
