* {
  padding: 0;
  margin: 0;
  appearance: none;
  border: none;
  background: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

button,
input,
textarea,
select,
option,
a {
  font: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
}
