<script>
  import HeaderComponent from '../components/cointik/HeaderComponent'
  import FooterComponent from '../components/cointik/FooterComponent'

  export default {
    render(h) {
      const styles = this.$style;
      return (
        <default>
          <table class={styles.wrapper}>
            <tbody>
            <tr>
              <td class={styles.layout}>
                <table class={styles.inner}>
                  <tbody>
                  <tr>
                    <td class={styles.content}>
                      <HeaderComponent/>
                      <nuxt/>
                      <FooterComponent/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </default>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../assets/utils";
  .wrapper {
    width: 100%;
    table-layout: fixed;

    font-family: 'Roboto' , sans-serif;
    font-size: 16px;
    font-weight: 300;
  }

  .layout {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #eeeeee;
  }

  .inner {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
  }

  .content {
    max-width: 600px;
    width: 100%;
  }
</style>
