<script>
  export default {
    render(h) {
      const styles = this.$style;
      return (
        <table class={styles.wrapper}>
          <tbody>
          <tr>
            <td class={styles.layout}>
              <table class={styles.inner}>
                <tbody>
                <tr>
                  <td class={styles.content}>
                    <nuxt/>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>

        </table>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../assets/utils";
  @import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

  .wrapper {
    width: 100%;
    table-layout: fixed;

    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 300;
  }

  .layout {
    background-color: #fff;
  }

  .inner {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
  }

  .content {
    max-width: 600px;
    width: 100%;
  }
</style>
