<script>
  export default {
    props: {
      type: {
        type: String,
        default: 'button',
      },
      size: {
        type: String,
        default: 'sm'
      },
      text: String,
      url: String,
      isBlock: Boolean,
    },

    computed: {
      attributes() {
        const attributes = {
          ...this.$props,
          class: {
            [this.$style.common]: true,
            [this.$style[this.size]]: true,
            [this.$style[this.type]]: true,
            [this.$style.block]: this.isBlock,
          },
        };

        if (this.type === 'link') {
          attributes.href = this.url;
        }

        return attributes;
      },
    },

    render(h) {
      const styles = this.$style;
      return (
        this.type === 'link'
          ?
          <a {...this.attributes}>
            <span class={styles.content} domPropsInnerHTML={this.text}/>
          </a>
          :
          <button {...this.attributes}>
            <span class={styles.content} domPropsInnerHTML={this.text}/>
          </button>
      )
    }
  }
</script>

<style module lang="scss">
  .common {
    background: #0399E2;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    line-height: 16px;
    display: inline-table;
    cursor: pointer;
  }

  .content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .button {

  }

  .link {

  }

  .sm {
    height: 36px;
    padding: 0 32px;
  }

  .block {
    display: table;
  }
</style>
