<script>
  export default {
    data() {
      return {
        texts: {
          cheers: 'Sincerely, the Cointik team.'
        }
      }
    },

    render(h) {
      const styles = this.$style;
      return (
        <table class={styles.wrapper}>
          <tbody>
          <tr>
            <td class={styles.cheers} domPropsInnerHTML={this.texts.cheers}/>
          </tr>
          </tbody>
        </table>
      )
    }
  }
</script>

<style module lang="scss">
  .wrapper {
    padding: 28px 44px;
  }

  .cheers {
    font-size: 16px;
    line-height: 19px;
    color: #6a6a6a;
    font-weight: 500;
    font-style: italic;
  }
</style>
