<script>
  import ButtonComponent from "../../../components/cointik/ButtonComponent";

  export default {
    layout: 'cointik',
    data() {
      return {
        texts: {
          hrefLink: 'http://cointik.com/',
          hrefText: 'Change the password',
          text: 'Dear trader,<br>' +
            '<br>' +
            'Your account has been logged in.<br>' +
            '<br>' +
            'Login: anruin@yandex.ru<br>' +
            '<br>' +
            'IP: 172.16.0.188<br>' +
            '<br>' +
            'Date: 2018-11-03 13:09'
        }
      }
    },
    render(h) {
      const styles = this.$style;
      return (
        <table class={styles.page}>
          <tbody>
          <tr>
            <td class={styles.text} domPropsInnerHTML={this.texts.text}/>
          </tr>
          <tr>
            <td class={styles.buttonWrapper}>
              <ButtonComponent type="link" text={this.texts.hrefText} url={this.texts.hrefLink}/>
            </td>
          </tr>
          </tbody>
        </table>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../../../assets/utils";

  .page {
    @include page;
  }

  .text {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: #6a6a6a;
  }

  .buttonWrapper {
    padding-top: 34px;
  }
</style>
